{% extends "pages/base.html" %} 
{% block title %}Director{% endblock %} 
{% block content %}
<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
/>
{%load static %}
<link rel="stylesheet" href="{% static 'movie.css' %}" />
<div class="px-5">
  <nav aria-label="breadcrumb" style="margin-top: 10px">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="/">Home</a></li>
      <li class="breadcrumb-item"><a href="#">Director</a></li>
      <li class="breadcrumb-item active" aria-current="page">{{director.name}}</li>
    </ol>
  </nav>
  <div
    class="card d-flex text-white px-2 py-3"
    style="width: 100%; background-color: #1d2731"
  >
    <div class="d-flex align-items-center">
      <div class="flex-shrink-0">
        <div class="m-2">
          <img
            src="../{{director.image}}"
            style="height: 420px; width: 300px; border-radius: 0.5rem; object-fit: cover;"
            alt="anime"
          />
        </div>
      </div>
      <div class="flex-grow-1 ms-3">
        <h2 class="card-title">{{director.name}}</h2>
        <ul class="list-group list-group-flush">
          <li class="list-group-item item">Quốc gia: {{director.nationality}}</li>
          <li class="list-group-item item">Ngày sinh: {{director.birthday|date:"d-m-Y"}}</li>
        </ul>
      </div>
    </div>
    <div class="card-body">
        <h4
          class="card-title"
          style="
            border-bottom: 0.1rem solid rgb(238 237 237 / 13%);
            padding-bottom: 5px;
          "
        >
          Các phim đã thực hiện
        </h4>
        <div class="px-5" style="display: flex; flex-direction: row; flex-wrap: wrap">
            {% for movie in movies %}
            <div
              class="card m-2"
              style="width: 13.5rem; background-color: #111111; color: white;"
            >
                <img
                  src="../{{movie.image}}"
                  class="card-img-top"
                  alt="anime"
                  style="height: 280px; object-fit: cover;"
                />
                <div class="card-body">
                  <h6 class="card-title" style="height: 40px; font-size: 15px;">{{movie.name}}</h6>
                  <a
                    href="{% url 'movie' movie.id %}"
                    class="btn btn-outline-danger"
                    style="width: 100%"
                    >View</a
                  >
                </div>
              </div>
            {% endfor %}
          </div>
      </div>
  </div>
</div>
{% endblock %}
