{% extends "pages/base.html" %} 
{% block title %}Home{% endblock %} 
{% block content %}
<h1 align="center">Best Movie</h1>
<div class="d-flex p-2">
    {% for movie in Movies %}
    <div class="card m-2" style="width: 15rem">
      <img src="{{movie.image}}" class="card-img-top" alt="..." style="height: 300px;"/>
      <div class="card-body">
        <h5 class="card-title">{{movie.name}}</h5>
        <a href="#" class="btn btn-outline-danger">View</a>
      </div>
    </div>
    {% endfor %}
</div>
{% endblock %}
