{% extends "pages/base.html" %} {% block title %}Home{% endblock %} 
{% block content %} {%load static %}
<link rel="stylesheet" href="{% static 'home.css' %}" />
<h1 class="title">New Movies</h1>
<div class="px-5" style="display: flex; flex-direction: row; flex-wrap: wrap">
  {% for movie in NewMovies %}
  <div
    class="card m-2"
    style="width: 13.5rem; background-color: #111111; color: white;"
  >
      <img
        src="{{movie.image}}"
        class="card-img-top"
        alt="anime"
        style="height: 280px; object-fit: cover;"
      />
      <div class="card-body">
        <h6 class="card-title" style="height: 40px; font-size: 15px;">{{movie.name}}</h6>
        <a
          href="{% url 'movie' movie.id %}"
          class="btn btn-outline-danger"
          style="width: 100%"
          >View</a
        >
      </div>
    </div>
  {% endfor %}
</div>



<h1 class="title">Popular Movies</h1>
<div class="px-5" style="display: flex; flex-direction: row; flex-wrap: wrap">
  {% for movie in Movies %}
  <div
    class="card m-2"
    style="width: 13.5rem; background-color: #111111; color: white;"
  >
    <img
      src="{{movie.image}}"
      class="card-img-top"
      alt="anime"
      style="height: 280px; object-fit: cover;"
    />
    <div class="card-body">
      <h6 class="card-title" style="height: 40px; font-size: 15px;">{{movie.name}}</h6>
      <a
        href="{% url 'movie' movie.id %}"
        class="btn btn-outline-danger"
        style="width: 100%"
        >View</a
      >
    </div>
  </div>
  {% endfor %}
</div>
{% endblock %}
