{% extends "pages/base.html" %} 
{% block title %}Search{% endblock %} 
{% block content %}
<h3 align="center" style="color: white;">Kết quả tìm kiếm: {{search}}</h3>
<div class="d-flex px-5">
    {% for movie in Movies %}
    <div class="card m-2" style="width: 13rem">
      <img src="{{movie.image}}" class="card-img-top" alt="anime" style="height: 240px;"/>
      <div class="card-body">
        <h6 class="card-title" style="height: 40px;">{{movie.name}}</h6>
        <a href="/movie/{{movie.id}}" class="btn btn-outline-danger" style="width: 100%;">View</a>
      </div>
    </div>
    {% endfor %}
</div>
{% endblock %}
